apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  type: {{ .Values.service.type }}
  selector:
    app: api
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}